.breadcrumbs {
  color: #b6b6b6;
  font-size: 12px;
  margin-bottom: 20px;
  flex: 1 0 100%;
}

.link {
  border-bottom: 1px dotted #b6b6b6;
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px transparent;
}
