.companyName {
  font-size: 20px;
  font-weight: 100;
  margin: 20px auto;
  text-align: center;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #333333;
  height: 400px;
  display: flex;
  color: white;
}

.wrapper {
  width: 1200px;
  margin: 30px auto;
  font-weight: 100;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.socials {
  margin-top: 30px;
  font-size: 14px;
}

.label {
  margin-bottom: 10px;
}

.social {
  margin-right: 10px;
}

.contact {
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    margin: 0 20px;
    margin-top: 20px;
  }

  .footer {
    min-height: 400px;
    height: 100%;
  }

  .contact {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .mainContent {
    flex-wrap: wrap;
  }

  /* .mainContent div {
    margin: 0 0 20px 0;
  } */
}

@media screen and (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .payment {
    width: 200px;
  }

  .mainContent div {
    margin: 0 0 20px 0;
  }
}
