.list {
  margin: 0 auto;
  height: 60px;
  width: 1200px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  height: 100%;
  border-bottom: 2px solid transparent;
}

.item:hover {
  height: 100%;
}

.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 56px;
  color: #787878;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.link:hover {
  font-weight: 700;
  border-bottom: 2px solid #787878;
  cursor: pointer;
}

.link::before {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;
}

@media speech {
  .link:hover {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .list {
    width: 100%;
  }

  .link {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .link {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
