.menu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: all top 0.05s linear;
}

.topBar {
  height: 60px;
  background-color: #d66565;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .menu {
    max-height: 10000px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: scroll;
    display: block;
  }

  .menuHidden {
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }

  .topBar {
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    font-size: 20px;
    color: white;
  }

  .menuContent {
      background-color: white;
  }

  .list,
  .info {
    list-style: none;
    width: 100%;
    padding: 50px 70px 20px 30px;
  }

  /* .info {
    margin-bottom: 20px;
  } */

  .item {
    border-bottom: 1px solid #dedede;
  }

  .link {
    height: 60px;
    display: inline-block;
    line-height: 60px;
    color: #787878;
    font-size: 16px;
  }

  .link:hover {
    color: #d66565;
  }

  .infoItem {
    margin-bottom: 15px;
  }

  .infoLink {
    color: #929292;
  }

  .infoLink:hover {
    color: #787878;
  }
}
