.shadow {
  /* background-color: rgba(0, 0, 0, 0.95); */
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: relative;
}

.form {
  width: 360px;
  height: 500px;
  background-color: white;
  position: fixed;
  z-index: 101;
  padding: 40px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 30px;
  color: #4f4e4e;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
}

.button {
  margin-left: calc(100% - 20px);
}

.links {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link {
  color: #adacac;
  font-weight: 300;
  text-decoration: underline dotted #adacac;
  text-decoration-thickness: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

.link:hover {
  color: #d66565;
  text-decoration-color: #d66565;
}

@media screen and (max-width: 500px) {
  .form {
    width: calc(100% - 80px);
    height: 400px;
    background-color: white;
    position: fixed;
    z-index: 101;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  .heading {
    font-size: 24px;
  }

  .links {
      flex-direction: column;
      align-items: center;
  }

  .link {
      font-size: 12px;
  }
}



  .dialogOverlay {
    z-index: 100;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
  }

/* const Content = styled(DialogContent)`
  &[data-reach-dialog-content] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: unset;
    overflow-y: auto;
    ${screen('md')} {
      position: relative;
      max-width: 80%;
      overflow: unset;
    }
  }
`; */