.inputContainer {
  display: block;
  color: #787878;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
}

.inputContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
}

.inputContainer input:checked ~ .checkmark::after {
  content: "";
  position: absolute;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 6px;
  width: 6px;
  background-color: #d66565;
  border-radius: 50%;
}
