.loaderWrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgb(219, 219, 219);
  top: 0;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 10;
  opacity: 1;
  visibility: hidden;
  transition: all 10s;
  /* overflow: hidden; */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff755d;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-items: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .loaderWrapper {
    display: none;
  }
}

.show {
  visibility: visible;
  opacity: 0.5;
  transition: opacity 0.5s;
  transition: visibility 0s, opacity 0.5s linear;
}
