.titleBlock {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 300;
  color: #4f4e4e;
  text-align: center;
  font-size: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .titleBlock {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .title {
    font-size: 24px;
  }
}
